html{
    
    
        background:linear-gradient(320deg, #ac2769, #1d1b0c, #c7a9b8);
        display: flex;
        font-family: 'Dosis', sans-serif;
        font-display: swap;
       
    
    }
    


